

body {
  font-family: "Montserrat";
}

.week {
  width: 900px;
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
}
.day {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  margin: 0 0 10px 0;
}